* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    box-sizing: border-box;
    border: 1px;
    padding: 3px;
    font-size: 20px;
    text-align: center; 
  }