* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    border: 1;
    padding: 3;
  }
  body {
    background-color: #000000;
    background-image: url('gradient.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  header {
    background-color: #000000;
    color: white;
    text-align: center;   
    padding: 10px;
  }
  footer {
    background-color: #000000;
    color: white;
    text-align: center;   
    padding: 10px;
  }
  h1 {
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: -3px;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px blueviolet;
  }
  [data-type="intro"] {
    font-size: 1.5em;
    margin-top: 0;
    text-decoration: underline;
  }
  #img1 {
    display: block;
    width: 25vw;
    height: 25vh;
    margin: 0 auto;
    }
  #img2 {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
  }
  .container ul {
    list-style-type: none;
    clear: left;
  }
  #_blank{
    font-family: Impact, 'Arial Narrow Bold', 'Times New Roman';
  }
  #_no{
    font-family:'Courier New', Courier, monospace;
  }
  #_blank:hover{
    font-family: 'Courier New', Courier, monospace;
  }
  #_no:hover{
    font-family: Impact, 'Arial Narrow Bold', 'Times New Roman';
  }
  /* extra CSS */
.container ul {
  list-style-type: none; /* removes bullets */
  clear: left; /* removes effect of float:left */
  padding: 0; /* removes the spaces surrounding the li/s */
}

.container ul li {
  width: 150px;
  padding: 5px;
  background-color: cornsilk;
  text-align: center;
  display: inline-block;
  border-radius: 0px 25px;
}
